<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="b_bot_scene">

    <xacro:include filename="$(find homestri_description)/urdf/workspaces/b_bot_workspace.xacro" />
    <xacro:include filename="$(find homestri_description)/urdf/macros/ur5e_macro.xacro" />
    <xacro:include
        filename="$(find homestri_description)/urdf/macros/onrobot_realsense_macro.xacro" />

    <xacro:b_bot_workspace />

    <xacro:ur5e
        prefix=""
        parent="pedestal"
        gripper_tip_offset="0.223"
        transmission_hw_interface="hardware_interface/PositionJointInterface"
    >
        <origin xyz="0 0 0" rpy="0 0 0" />
    </xacro:ur5e>

    <xacro:onrobot_realsense
        prefix=""
        parent="ee_link"
        transmission_hw_interface="hardware_interface/PositionJointInterface"
    >
        <origin xyz="0 0 0" rpy="${-pi/2} ${0} ${-pi/2}" />
    </xacro:onrobot_realsense>

    <link name="world" />

    <gazebo>
        <plugin name="ros_control" filename="libgazebo_ros_control.so">
        </plugin>
    </gazebo>
</robot>