<launch>

    <arg name="robot_ip" default="192.168.1.102" />
    <arg name="target_filename" default="$(find homestri_bringup)/etc/a_bot_calibration.yaml" />

    <include file="$(find ur_calibration)/launch/calibration_correction.launch">
        <arg name="robot_ip" value="$(arg robot_ip)" />
        <arg name="target_filename" value="$(arg target_filename)" />
    </include>

</launch>