<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro"
       name="base_scene" >

  <!-- ur5e arm and robotiq gripper -->
  <xacro:include filename="$(find homestri_robot_description)/urdf/ur5e_robotiq.urdf.xacro" />
  <xacro:ur5e_robotiq />
  
  <!-- scene environment (pedestal and table) -->
  <xacro:include filename="$(find homestri_robot_description)/urdf/environment.urdf.xacro" />
  <xacro:environment />
  
  <!-- attach arm to pedestal. -->
  <joint name="arm_to_pedestal" type="fixed">
    <parent link="pedestal" />
    <child link="base_link" />
    <origin xyz="0 0 0" rpy="0 0 0" />
  </joint>

  <!-- attach arm to world. -->
  <link name="world" />
  <joint name="world_joint" type="fixed">
    <parent link="world" />
    <child link="table" />
    <origin xyz="0 0 0" rpy="0 0 0" />
  </joint>




  
</robot>