<?xml version="1.0"?>

<!-- This macro adds a convenient TF frame at the tip of the closed gripper. -->
<!-- The position of the TF frame has not been measured at all and needs to be calibrated. -->

<robot name="ur5e" xmlns:xacro="http://www.ros.org/wiki/xacro">

  <xacro:macro name="ur5e" params="prefix">

    <!-- ur5e -->
    <xacro:include filename="$(find ur_description)/urdf/inc/ur_macro.xacro" />
    <xacro:ur_robot
      prefix="${prefix}"
      joint_limits_parameters_file='$(find homestri_robot_description)/config/gazebo_ur5e_joint_limits.yaml'
      kinematics_parameters_file='$(find ur_description)/config/ur5e/default_kinematics.yaml'
      physical_parameters_file='$(find ur_description)/config/ur5e/physical_parameters.yaml'
      visual_parameters_file='$(find ur_description)/config/ur5e/visual_parameters.yaml'
      transmission_hw_interface='hardware_interface/PositionJointInterface'
      safety_limits="false"
      safety_pos_margin="0.15"
      safety_k_position="20"
    />

    <!-- end effector link -->
    <link name="${prefix}ee_link">
      <collision>
        <geometry>
          <box size="0.01 0.01 0.01" />
        </geometry>
        <origin rpy="0 0 0" xyz="-0.01 0 0" />
      </collision>
    </link>
    <joint name="${prefix}ee_fixed_joint" type="fixed">
      <parent link="${prefix}wrist_3_link" />
      <child link="${prefix}ee_link" />
      <origin rpy="0.0 -1.57079632679 1.57079632679" xyz="0.0 0.0 0.0" />
    </joint>

    <!-- Add an additional link to plan with. Oriented like the UR ee_link frame. -->
    <link name="${prefix}gripper_tip_link" />
    <joint name="${prefix}gripper_tip_link_joint" type="fixed">
      <parent link="${prefix}ee_link" />
      <child link="${prefix}gripper_tip_link" />
      <origin rpy="0 0 0" xyz="0.163 0 0" />
    </joint>

    <xacro:macro name="ur5e_gazebo_link_properties" params="reference">
      <gazebo reference="${reference}">
        <kp>1000000.0</kp>
        <kd>1.0</kd>
        <mu1>0.8</mu1>
        <mu2>0.8</mu2>
        <maxVel>0.0</maxVel>
        <minDepth>0.001</minDepth>
        <selfCollide>true</selfCollide>
      </gazebo>
    </xacro:macro>

    <xacro:ur5e_gazebo_link_properties reference="${prefix}shoulder_link" />
    <xacro:ur5e_gazebo_link_properties reference="${prefix}upper_arm_link" />
    <xacro:ur5e_gazebo_link_properties reference="${prefix}forearm_link" />
    <xacro:ur5e_gazebo_link_properties reference="${prefix}wrist_1_link" />
    <xacro:ur5e_gazebo_link_properties reference="${prefix}wrist_2_link" />
    <xacro:ur5e_gazebo_link_properties reference="${prefix}wrist_3_link" />

    <xacro:macro name="ur5e_gazebo_joint_properties" params="reference">
      <gazebo reference="${reference}">
        <implicitSpringDamper>true</implicitSpringDamper>
      </gazebo>
    </xacro:macro>

    <xacro:ur5e_gazebo_link_properties reference="${prefix}shoulder_pan_joint" />
    <xacro:ur5e_gazebo_link_properties reference="${prefix}shoulder_lift_joint" />
    <xacro:ur5e_gazebo_link_properties reference="${prefix}elbow_joint" />
    <xacro:ur5e_gazebo_link_properties reference="${prefix}wrist_1_joint" />
    <xacro:ur5e_gazebo_link_properties reference="${prefix}wrist_2_joint" />
    <xacro:ur5e_gazebo_link_properties reference="${prefix}wrist_3_joint" />

  </xacro:macro>
</robot>