<?xml version="1.0"?>

<!-- This macro adds a convenient TF frame at the tip of the closed gripper. -->
<!-- The position of the TF frame has not been measured at all and needs to be calibrated. -->

<robot name="ur5e_robotiq_homestri" xmlns:xacro="http://www.ros.org/wiki/xacro">

  <xacro:macro name="ur5e_robotiq">

    <!-- ur5e -->
    <xacro:include filename="$(find ur_description)/urdf/inc/ur_macro.xacro"/>
    <xacro:ur_robot
        prefix=""
        joint_limits_parameters_file='$(find homestri_robot_description)/config/ur5e_joint_limits.yaml'
        kinematics_parameters_file='$(find ur_description)/config/ur5e/default_kinematics.yaml'
        physical_parameters_file='$(find ur_description)/config/ur5e/physical_parameters.yaml'
        visual_parameters_file='$(find ur_description)/config/ur5e/visual_parameters.yaml'
        transmission_hw_interface='hardware_interface/PositionJointInterface'
        safety_limits="false"
        safety_pos_margin="0.15"
        safety_k_position="20"
    />

    <!-- end effector link -->
    <link name="ee_link">
        <collision>
        <geometry>
            <box size="0.01 0.01 0.01"/>
        </geometry>
        <origin rpy="0 0 0" xyz="-0.01 0 0"/>
        </collision>
    </link>
    <joint name="ee_fixed_joint" type="fixed">
        <parent link="wrist_3_link"/>
        <child link="ee_link"/>
        <origin rpy="0.0 -1.57079632679 1.57079632679" xyz="0.0 0.0 0.0"/>
    </joint>

    <!-- Add an additional link to plan with. Oriented like the UR ee_link frame. -->
    <link name="gripper_tip_link"/>
    <joint name="gripper_tip_link_joint" type="fixed">
        <parent link="ee_link"/>
        <child link="gripper_tip_link"/>
        <origin rpy="0 0 0" xyz="0.163 0 0"/>
    </joint>


    <!-- Spawn and attach robotiq 85 gripper -->
    <xacro:include filename="$(find robotiq_2f_85_gripper_visualization)/urdf/robotiq_arg2f_85_macro.xacro" />
    <xacro:robotiq_arg2f_85 prefix="" transmission_hw_interface="hardware_interface/EffortJointInterface"/>
    <joint name="robotiq_85_base_joint" type="fixed"> 
        <parent link="ee_link"/> 
        <child link="robotiq_arg2f_base_link"/> 
        <origin xyz="0.01 0 0" rpy="${pi} ${-pi/2} 0" /> <!-- This 0.01 offset is the Robotiq/UR coupling -->
    </joint> 

    <!-- robotiq coupling link -->
    <link name="coupling">
      <visual>
        <origin rpy="0 ${pi/2} 0" xyz=".005 0 0"/>
        <geometry>
          <cylinder length="0.01" radius="0.0375"/>
        </geometry>
        <material name="black">
        <color rgba=".1 .1 .1 1"/>
      </material>
      </visual>
      <collision>
        <origin rpy="0 ${pi/2} 0" xyz=".005 0 0"/>
        <geometry>
          <cylinder length="0.01" radius="0.0375"/>
        </geometry>
      </collision>
    </link>
    <joint name="coupling_joint" type="fixed">
      <parent link="ee_link" />
      <child link = "coupling" />
      <origin rpy="0 0 0" xyz="0 0 0"/>
    </joint>

  </xacro:macro>
</robot>
