<launch>

    <arg name="sim" default="false"/>


    <include if="$(arg sim)" file="$(find homestri_moveit_config)/launch/demo.launch"/>

    <group unless="$(arg sim)">
        <include file="$(find robotiq_2f_gripper_action_server)/launch/robotiq_2f_gripper_action_server.launch"/>

        <include file="$(find homestri_moveit_config)/launch/demo.launch">
            <arg name="moveit_controller_manager" value="simple"/>
        </include>
    </group>

    <node pkg="test_move_group" type="test_move_group_node" name="test_move_group_node" output="screen" />

</launch>