<?xml version="1.0"?>

<!-- This macro adds a convenient TF frame at the tip of the closed gripper. -->
<!-- The position of the TF frame has not been measured at all and needs to be calibrated. -->

<robot name="b_bot_workspace" xmlns:xacro="http://www.ros.org/wiki/xacro">
  <xacro:macro name="b_bot_workspace">
    <!-- <xacro:macro name="workspace" params="pedestal_height:=0.2 pedestal_radius:=0.2"> -->

    <link name="pedestal">
      <collision>
        <origin xyz="0 0 -0.407" rpy="0 0 0" />
        <geometry>
          <box size="0.35 0.35 0.814" />
        </geometry>
      </collision>
      <visual>
        <origin xyz="0 0 -0.407" rpy="0 0 0" />
        <geometry>
          <box size="0.35 0.35 0.814" />
        </geometry>
        <material name="grey">
          <color rgba=".5 .5 .5 1.0" />
        </material>
      </visual>
      <inertial>
        <origin xyz="0.0 0.0 0.02" rpy="0 0 0" />
        <mass value=".006784" />
        <inertia ixx=".18e-05" iyy=".18e-05" izz=".18e-05" ixy="0.0" iyz="0.0" ixz="0.0" />
      </inertial>
    </link>

    <link name="table">
      <collision>
        <origin xyz="0 0 0.4585" rpy="0 0 0" />
        <geometry>
          <box size="1 2 0.917" />
        </geometry>
      </collision>
      <visual>
        <origin xyz="0 0 0.4585" rpy="0 0 0" />
        <geometry>
          <box size="1 2 0.917" />
        </geometry>
        <material name="grey">
          <color rgba=".5 .5 .5 1.0" />
        </material>
      </visual>
      <inertial>
        <origin xyz="0.0 0.0 0.3" rpy="0 0 0" />
        <mass value=".006784" />
        <inertia ixx=".18e-05" iyy=".18e-05" izz=".18e-05" ixy="0.0" iyz="0.0" ixz="0.0" />
      </inertial>
    </link>

    <link name="wall_1">
      <collision>
        <origin rpy="0 ${pi/2} 0" xyz="-0.45 0 0" />
        <geometry>
          <box size="5 5 0.02" />
        </geometry>
        <material name="grey">
          <color rgba=".5 .5 .5 1.0" />
        </material>
      </collision>
    </link>

    <link name="wall_2">
      <collision>
        <origin rpy="${pi/2} 0 0" xyz="0 -0.4 0" />
        <geometry>
          <box size="5 5 0.02" />
        </geometry>
        <material name="grey">
          <color rgba=".5 .5 .5 1.0" />
        </material>
      </collision>
    </link>

    <link name="wall_3">
      <collision>
        <origin rpy="0 0 0" xyz="0 0 1.7" />
        <geometry>
          <box size="5 5 0.02" />
        </geometry>
        <material name="grey">
          <color rgba=".5 .5 .5 1.0" />
        </material>
      </collision>
    </link>

    <link name="ground">
      <collision>
        <origin rpy="0 0 0" xyz="0 0 -0.01" />
        <geometry>
          <box size="5 5 0.02" />
        </geometry>
      </collision>
    </link>

    <joint name="ground_to_world" type="fixed">
      <parent link="world" />
      <child link="ground" />
      <origin xyz="0 0 0" />
    </joint>

    <joint name="table_to_world" type="fixed">
      <parent link="world" />
      <child link="table" />
      <origin xyz="1.37 0 0" />
    </joint>

    <joint name="wall_1_to_world" type="fixed">
      <parent link="world" />
      <child link="wall_1" />
      <origin xyz="0 0 0" />
    </joint>
    <joint name="wall_2_to_world" type="fixed">
      <parent link="world" />
      <child link="wall_2" />
      <origin xyz="0 0 0" />
    </joint>
    <joint name="wall_3_to_world" type="fixed">
      <parent link="world" />
      <child link="wall_3" />
      <origin xyz="0 0 0" />
    </joint>

    <joint name="pedestal_to_world" type="fixed">
      <parent link="world" />
      <child link="pedestal" />
      <origin xyz="0 0 0.814" rpy="0 0 ${pi/2}"/>
    </joint>

    <gazebo reference="pedestal">
      <material>Gazebo/Grey</material>
      <selfCollide>true</selfCollide>
      <kinematic> true </kinematic>
    </gazebo>
    <gazebo reference="table">
      <material>Gazebo/Grey</material>
      <selfCollide>true</selfCollide>
      <kinematic> true </kinematic>
    </gazebo>


  </xacro:macro>

</robot>