<launch>
    <arg name="urdf_path" default="$(find homestri_description)/urdf/scenes/b_bot_scene.xacro" />
    <arg name="rvizconfig" default="$(find homestri_description)/launch/urdf.rviz" />
  
    <!-- send robot urdf to param server -->
    <param name="robot_description" command="xacro '$(arg urdf_path)'" />
    <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" />
    <node name="joint_state_publisher_gui" pkg="joint_state_publisher_gui" type="joint_state_publisher_gui" />
    <node name="rviz" pkg="rviz" args="-d $(arg rvizconfig)" type="rviz" required="true" />
  </launch>