<?xml version="1.0"?>
<launch>
  <param name="cube_description" textfile="$(find homestri_scene_description)/urdf/cube.urdf" />
  <param name="plastic_bin_description" textfile="$(find homestri_scene_description)/urdf/plastic_bin.urdf" />

  <node name="spawn_cube1" pkg="gazebo_ros" type="spawn_model" args="-urdf -param cube_description -model cube1 -x .6 -y -.2 -z 0" respawn="false" output="screen" />
  <node name="spawn_cube2" pkg="gazebo_ros" type="spawn_model" args="-urdf -param cube_description -model cube2 -x .5 -y .2 -z 0" respawn="false" output="screen" />
  <node name="spawn_cube3" pkg="gazebo_ros" type="spawn_model" args="-urdf -param cube_description -model cube3 -x .6 -y .2 -z 0" respawn="false" output="screen" />

  <!-- <node name="spawn_plastic_bin" pkg="gazebo_ros" type="spawn_model" args="-urdf -param plastic_bin_description -model plastic_bin -x 0.4 -y -.2 -z 0" respawn="false" output="screen" /> -->

</launch>
