<?xml version="1.0"?>
<robot name="robotiq_realsense" xmlns:xacro="http://www.ros.org/wiki/xacro">
    <xacro:macro name="robotiq_realsense"
        params="prefix parent transmission_hw_interface *origin">

        <xacro:include
            filename="$(find robotiq_2f_85_gripper_description)/urdf/robotiq_arg2f_85_macro.xacro" />
            <xacro:include filename="$(find realsense2_description)/urdf/_d415.urdf.xacro" />

        <link name="${prefix}realsense_mount">
            <inertial>
                <origin xyz="-0.0019215269775362533 0.02238591812637603 0.00014773610274437554"
                    rpy="0 0 0" />
                <mass value="0.0478036670662668" />
                <inertia ixx="4.3e-05" iyy="2.2e-05" izz="6.4e-05" ixy="3e-06" iyz="1e-06" ixz="0.0" />
            </inertial>
            <visual>
                <origin xyz="0 0 0" rpy="0 0 0" />
                <geometry>
                    <mesh
                        filename="package://homestri_description/meshes/components/visual/realsense_mount.stl"
                        scale="0.001 0.001 0.001" />
                </geometry>
                <material name="">
                    <color rgba="0.3 0.3 0.3 1" />
                  </material>
            </visual>
            <collision>
                <origin xyz="0 0 0" rpy="0 0 0" />
                <geometry>
                    <mesh
                        filename="package://homestri_description/meshes/components/collision/realsense_mount.stl"
                        scale="0.001 0.001 0.001" />
                </geometry>
            </collision>
        </link>
        <joint name="${prefix}realsense_mount_joint" type="fixed">
            <parent link="${parent}" />
            <child link="${prefix}realsense_mount" />
            <xacro:insert_block name="origin" />
        </joint>

        <xacro:robotiq_arg2f_85
            prefix="${prefix}"
            parent="${prefix}realsense_mount"
            transmission_hw_interface="${transmission_hw_interface}"
            add_cable_protector="false"
        >
            <origin xyz="0 0 ${0.005 + 0.003}" rpy="0 0 ${pi}" />
        </xacro:robotiq_arg2f_85>

        <xacro:arg name="use_nominal_extrinsics" default="false" />
        <xacro:arg name="add_plug" default="false" />
        <xacro:arg name="use_mesh" default="true" />
        <xacro:sensor_d415 parent="${prefix}realsense_mount"
            use_nominal_extrinsics="$(arg use_nominal_extrinsics)" add_plug="$(arg add_plug)"
            use_mesh="$(arg use_mesh)">
            <origin xyz="0 ${-0.023/2 + 0.0575} ${0.01 + 0.005}" rpy="0 ${-pi/2} ${-pi/2}" />
        </xacro:sensor_d415> 

        <gazebo reference="${prefix}realsense_mount">
            <material>Gazebo/Black</material>
            <kp>1000000.0</kp>
            <kd>1.0</kd>
            <mu1>0.8</mu1>
            <mu2>0.8</mu2>
            <maxVel>0.0</maxVel>
            <minDepth>0.001</minDepth>
            <selfCollide>true</selfCollide>
          </gazebo>

    </xacro:macro>
</robot>