<launch>
    <arg name="robot_ip" default="192.168.1.102" />
    <arg name="reverse_ip" default="192.168.1.2" />
    <arg name="tool_device_name" default="/tmp/ttyUR" />
    <arg name="kinematics_config" default="$(find homestri_bringup)/config/a_bot_calibration.yaml" />
    <arg name="controllers" default="joint_state_controller scaled_pos_joint_traj_controller speed_scaling_state_controller force_torque_sensor_controller"/>
    <arg name="stopped_controllers" default="joint_group_vel_controller motion_control_handle cartesian_motion_controller cartesian_force_controller cartesian_compliance_controller"/>
    <arg name="controller_config_file" default="$(find homestri_bringup)/config/a_bot_controllers.yaml" />
    <arg name="use_rviz" default="true" />

    <!-- Control motion and compliance controller with one handle -->
    <remap from="motion_control_handle/target_frame" to="target_frame" />
    <remap from="cartesian_motion_controller/target_frame" to="target_frame" />
    <remap from="cartesian_compliance_controller/target_frame" to="target_frame" />
    <!-- Control wrenches via one topic -->
    <remap from="cartesian_force_controller/target_wrench" to="target_wrench" />
    <remap from="cartesian_compliance_controller/target_wrench" to="target_wrench" />
    <!-- Read wrenches via one topic -->
    <remap from="cartesian_force_controller/ft_sensor_wrench" to="wrench" />
    <remap from="cartesian_compliance_controller/ft_sensor_wrench" to="wrench" />
    <!-- ur5e driver -->
    <include file="$(find ur_robot_driver)/launch/ur5e_bringup.launch">
        <arg name="robot_ip" value="$(arg robot_ip)" />
        <arg name="reverse_ip" value="$(arg reverse_ip)" />
        <arg name="use_tool_communication" value="true" />
        <arg name="tool_voltage" value="24" />
        <arg name="tool_device_name" value="$(arg tool_device_name)" />
        <arg name="kinematics_config" value="$(arg kinematics_config)" />
        <arg name="controllers" value="$(arg controllers)"/>
        <arg name="stopped_controllers" value="$(arg stopped_controllers)" />
        <arg name="controller_config_file" value="$(arg controller_config_file)"/>
    </include>

    <!-- launch gripper driver -->
    <include file="$(find robotiq_2f_gripper_control)/launch/robotiq_2f_85_gripper_rtu.launch">
        <arg name="port" value="$(arg tool_device_name)" />
    </include>

    <!-- launch moveit -->
    <include file="$(find homestri_a_bot_moveit_config)/launch/move_group.launch">
        <arg name="allow_trajectory_execution" value="true"/>
        <arg name="moveit_controller_manager" value="simple" />
        <arg name="fake_execution_type" value="interpolate"/>
        <arg name="info" value="true"/>
        <arg name="debug" value="false"/>
        <arg name="pipeline" value="ompl"/>
        <arg name="load_robot_description" value="true"/>
    </include>

    <!-- launch rviz -->
    <group if="$(arg use_rviz)">
        <arg name="my_rviz" value="-d $(find homestri_bringup)/rviz/a_bot_bringup.rviz" />
        <node name="rviz" pkg="rviz" type="rviz" respawn="false" args="$(arg my_rviz)" output="screen" />
    </group>
    
</launch>
